<!DOCTYPE html>
<html style="background-image:url(../resources/login-background.jpg)" ng-app="Authentication">
    <head>
        <link rel="stylesheet" type="text/css" href="../resources/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="./login.controller.js"></script>
        <script src="./login.services.js"></script>
    </head>
    <body ng-controller="loginController as controller">
        <div align="center">
            <div style="margin-top:100px;margin-bottom:10px;">
                <span style="width:500px;">
                    <img height="100px" width="300px" src="../resources/metadatapp-logo.png"/>
                </span>
            </div>
            <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap slds-m-bottom_small" style="width:320px;">
                <div class="slds-panel__section">
                    <div class="slds-form slds-form_stacked" style="width:280px;">
                      <div class="slds-form-element slds-m-bottom_xx-small">
                        <label class="slds-form-element__label slds-float_left" for="input-id-01">Username</label>
                        <div class="slds-form-element__control">
                          <input type="text" id="username-id" class="slds-input" placeholder="Username" ng-model="controller.username">
                        </div>
                      </div>
                      <div class="slds-form-element">
                        <label class="slds-form-element__label slds-float_left" for="input-id-01">Password</label>
                        <div class="slds-form-element__control slds-m-bottom_small ">
                          <input type="password" id="password-id" class="slds-input" placeholder="Password" ng-model="controller.password">
                        </div>
                        <div class="slds-text-color_error" ng-show="controller.unauthorized">Username or password is incorrect.</div>
                      </div>
                      <div class="slds-form-element">
                          <button class="slds-button slds-button_neutral" ng-disabled="dataLoading" ng-click="controller.login()">Login</button>
                      </div>
                      <div class="slds-form-element">
                          <div class="slds-text-body_small slds-float_right">Sign up</div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>
